* {
  box-sizing: border-box;
}

header {
  color: white;
  position: fixed;
  background:rgb(19, 19, 19);
  padding: 0 2vw;
  z-index: 100;
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
  transition: 1s;
  width: auto;
  border-radius: 0 0 10px 0;
}

header.active {
  padding-right: 50vw;
}

header h1 {
  min-width: 75vw;
  margin: 2vh 0;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 25px;
}

#hero {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: absolute;
  top: 65vh;
  background: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15vh;
  margin-bottom: 30vh;
}

svg path {
  fill-opacity: 0;
  stroke: #ffffff;
  stroke-width: 10;
  stroke-dasharray: 4778;
  stroke-dashoffset: 4778;
  animation: draw 3s forwards infinite;
}

@keyframes draw {
  50% {
    stroke-dashoffset: 0;
    stroke-width: 10;
    fill-opacity: 0;
  }
  200% {
    stroke-width: 0;
    fill-opacity: 1;
  }
}

a:link,
a:visited,
a:active {
  color: white;
}
a:hover {
  color: hotpink;
}
